@import "../../../theme/palette";

.job-container {
  page-break-inside: avoid;
  
  &:not(:first-of-type) {
    padding-top: 10px;
  }

  &:nth-child(odd) {
    background-color: $color_background;
  }
}

.job-label-container {
  text-align: center;
}

.job-cooperation-period {
  font-weight: bold;
  margin: 0 0 10px;
}

.company-logo {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.job-position {
  margin: 0 0 10px;
  font-weight: bold;
}

@media print {
  #job-EDETEK {
    break-after: page;
  }
}
