@import '../../theme/palette'
;
.education-item-container {
  padding: 5px 10px;

  &:first-of-type {
    padding-top: 0;
  }

  &:nth-child(odd) {
    background-color: $color_background;
  }
}

.education-period {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.education-item-title {
  margin: 0 0 3px;
  font-weight: bold;
}

.education-item-specialisation {
  margin: 0;
}