@import './palette';
@import './typography';

body {
  font-family: Arial, sans-serif;
  background-color: $color_background;
  @include text_regular(false);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.main-container {
  margin: 0 auto;
  width: 795px;
  box-sizing: border-box;
  background: $color_white;
  box-shadow: 0 0 0.1cm rgba(0,0,0,0.5);
}

.app {
  padding: 25px;
}

@media print {
  .app {
    padding: 0;
  }
}

@page
{
  size: auto;
  margin: 25px;
}

.list-checkmark {
  vertical-align: middle;
  fill: $color_gray;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.default-container-layout {
  display: grid;
  grid-template-columns: 220px auto;
  grid-column-gap: 25px;
  grid-row-gap: 5px;
  padding-left: 10px;
}

.print-pictogram {
  fill: $color_white;
}

.print-button {
  position: fixed;
  outline: none;
  bottom: 30px;
  left: 30px;
  width: 100px;
  height: 100px;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  padding: 25px;

  @media #{"only screen and (min-width : 795px)"} {
    left: initial;
    right: 30px;
  }
}

button::before {
  content: '';
  border-radius: 1000px;
  min-width: 112px;
  min-height: 112px;
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}