@import 'palette';

@mixin section-title {
  text-transform: uppercase;
  border-bottom: 1px solid $color_dark-gray;
  color: $color_dark-gray;
  font-weight: 200;
  font-size: 18px;
  padding: 0 10px;
  margin: 15px 0 10px;
}

@mixin text_regular($bold: false) {
  font-style: italic;
  color: $color_gray;
  font-size: 14px;

  @if ($bold == true) {
  font-weight: bold;
}
  @else {
    font-weight: initial;
  }
}
