@import "../../theme/palette.scss";

.section-title {
    text-transform: uppercase;
    border-bottom: 1px solid #434343;
    color: #434343;
    font-weight: 200;
    font-size: 18px;
    padding: 0 10px;
    margin: 15px 0 10px;
}

.section-items-clickable-sign {
    color: $color_light-gray;
    font-size: 12px;
    text-transform: none;
    margin: 0 0 0 5px;
}