@import "../../theme/palette";

.title-container {
    background: linear-gradient(90deg, rgba(3, 41, 74, 1) 37%, rgba(11, 122, 221, 1) 100%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: #efefef;
    box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.title-info-container {
    flex-grow: 1;
    text-align: left;
}

.title-text {
    text-transform: uppercase;
    margin: 0;
    font-size: 44px;
}

.title-interests {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

    &::after {
        content: " / ";
        color: $color_gray;
    }
}

.title-qr-code {
    box-shadow: 0 0 5px 0 rgba(11, 9, 9, 1);
}