@import '../../theme/palette';

.certification-items-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 25px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.certification-item-container {
    display: flex;
    align-items: center;

    &:hover {
        .list-checkmark {
            transition: 0.3s;
            fill: $color_teal;
        }

        .certification-item {
            transition: 0.3s;
            color: $color_teal;
        }
    }
}