@import "../../theme/palette";

.languages-container {
    box-sizing: border-box;
    padding-left: 10px;
}

.language-container {
    display: flex;
    flex-wrap: wrap;
}

.language-title {
    margin: 0;
    flex-grow: 1;
}

.language-rating-container {

}

.language-rating-point {
    width: 16px;
    height: 16px;
    fill: $color_light-gray;
}

.language-rating-point-active {
    fill: $color_gray;
}