@import '../../theme/palette';

.contacts-container {
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 15px;
}

.contact-item-container {
    margin-bottom: 5px;
}

.contact-item-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: $color_gray;
}

.contact-item-content {
    text-decoration: none;
    padding-left: 10px;
    color: $color_gray;
    vertical-align: bottom;
}